@import 'mixins';

.navbar-default {
  @include gradient-vertical-three-colors(#ffffff, #fcfcfc, 50%, #f0f0f0);
  @include border-radius(none);
  border-bottom: 1px solid #d5d5d5;

  .navbar-header {
    img {
      width: 50%;
      height: 50%;
    }
  }
  .navbar-nav > li > a {
    color: #2c3e50;
  }
  .navbar-nav > .active > a {
    color: #00AEEF;
  }
}

.btn-primary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.table-responsive {
  border: none;
}

.flash {
  display: block;
  position: absolute;
  text-align: center;

  left: 0;
  right: 0;
  top: 0;
  width: 500px;
  margin: 15px auto;
  z-index: 1000;
}

.act-table {
  background: #f8f8f8;
  thead {
    background: #00AEEF;
    overflow: hidden;

    tr:first-child {
      th:first-child {
        @include border-radius(4px 0 0 0);
      }
      th:last-child {
        @include border-radius(0 4px 0 0);
      }
    }
    th {
      color: #ffffff;
      font-weight: normal;
    }
  }
  tbody {
    tr:last-child {
      td:first-child {
        @include border-radius(0 0 0 4px);
      }
      td:last-child {
        @include border-radius(0 0 4px 0);
      }
    }
    > tr > td {
      border-top-color: #ffffff;
    }
  }
}
input[type="text"].input-large {
  width: 400px;
}

.well-white {
  @include border-radius(4px);
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .3));
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  min-height: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
