#act-login {
  margin-top: 120px;
  form {
    legend {
      margin-bottom: 25px;
    }

    input {
      margin-bottom: 12px;
    }

    .form-group {
      margin-bottom: 25px;
    }
  }
  form #error_explanation {
    h2 {
      font-size: 13px;
    }
    ul {
      font-size: 13px;
      list-style-type: none;
      padding-left: 10px;
    }
  }
}