<div class="row">
  <div class="col-md-5">

    <%= form_for @organization, :url => organizations_path, :html => {:method => :post, :class => 'form-horizontal'} do |f| %>

      <legend>New organization</legend>

      <div class="well-white">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <%= f.label :name, class: 'col-sm-2 control-label' %>
              <div class="col-sm-9">
                <%= f.text_field :name, class: 'form-control', autofocus: true %>
              </div>
            </div>
          </div>
        </div>

      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to 'Cancel', organizations_path, class: 'btn btn-link' %>

    <% end %>

  </div>
</div>
