<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover act-table">
        <thead>
          <th>Is sick?</th>
          <th>Patient</th>
          <th>Phone</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Dialect</th>
          <th>Symptoms</th>
          <th>Notes</th>
          <th>Reported at</th>
          <th>Details</th>
        </thead>
        <tbody>
        <% if @cases.any? %>
          <% for @case in @cases %>
          <tr>

            <td><%= @case.sick_status.humanize %></td>
            <td><span title="<%= @case.guid %>"><%= @case.patient_name %></span></td>
            <td><%= @case.patient_phone_number %></td>
            <td><%= @case.patient_age %></td>
            <td><%= @case.gender %></td>
            <td><%= @case.dialect_code %></td>
            <td><span title="<%= @case.symptoms_joined %>"><%= @case.symptoms.join(', ').truncate 40 %></span></td>
            <td><span title="<%= @case.note %>"><%= @case.note.truncate 50 %></span></td>
            <td><span title="<%= @case.report_time %>"><%= time_ago_in_words @case.report_time %> ago</span></td>
            <td><%= link_to "See", case_path(@case), class: 'btn btn-default btn-sm' %></td>

          </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="10"><h5>There are no cases informed yet.</h5></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
