<% if @pending_devices.any? %>
<h4>Unconfirmed devices</h4>

<table class="table table-hover">
  <caption>Please confirm the following devices to allow them to upload new cases.</caption>
  <thead>
    <th>Organization name</th>
    <th>Supervisor name</th>
    <th>Supervisor phone number</th>
    <th>Action</th>
  </thead>
  <tbody>
  <% for @device in @pending_devices %>
  <tr>
  
    <td><%= @device.reported_organization_name %></td>
    <td><%= @device.supervisor_name %></td>
    <td><%= @device.supervisor_phone_number %></td>
    <td>
      <%=
         link_to 'Confirm',
                 device_path(@device, confirmed: true),
                 :method => 'put',
                 :class => 'btn btn-default btn-sm btn-success'
      %>
    </td>
  
  </tr>
  <% end %>
  </tbody>
</table>

<% end %>

<% if @confirmed_devices.any? %>

<h4>Confirmed devices</h4>

<table class="table table-hover">
  <thead>
    <th>Organization name</th>
    <th>Supervisor name</th>
    <th>Supervisor phone number</th>
  </thead>
  <tbody>
  <% for @device in @confirmed_devices %>
  <tr>
  
    <td><%= @device.reported_organization_name %></td>
    <td><%= @device.supervisor_name %></td>
    <td><%= @device.supervisor_phone_number %></td>

  </tr>
  <% end %>
  </tbody>
</table>

<% end %>

<% if @pending_devices.empty? and @confirmed_devices.empty? %>

<div class="well text-center">
  <h5>No devices have yet registered</h5>
</div>

<% end %>